@{
    ViewBag.Title = "Values";
}

<h2>Values</h2>

<div id="valuesTableOutput"></div>

<script id="valuesTableTemplate" type="text/html">
    <table>
        <thead>
            <th>Id</th>
            <th>Value</th>
            <th>Last modified</th>
        </thead>
        <tbody>
            {{#each value}}
            <tr data-id={{id}}>
                <td>{{id}}</td>
                <td>{{value}}</td>
                <td>{{lastModified}}</td>
                <td>
                    <button class="editValue">Edit</button>
                    <button class="deleteValue">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{#each links}}
    <a class="navigation-link" href="javascript:void(0);" data-url="{{href}}" id="{{rel}}">{{rel}}</a>
    {{/each}}
</script>

@section scripts
{
    <script src="~/Scripts/handlebars.js"></script>

    <script>
        var valueServer = (function() {
            var valueApiUrl = '@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "values"})';

            var getValues = function (page) {
                page = page || 0;
                return $.get(valueApiUrl +"?page="+page);
            };

            var getValuesFromUrl = function(url) {
                return $.get(url);
            };

            return {
                getValues: getValues,
                getValuesFromUrl: getValuesFromUrl
            };
        }());

        (function() {
            var templates = { };

            var compileTemplates = function() {
                templates.valuesTable = Handlebars.compile($("#valuesTableTemplate").html());
            };

            var showValues = function(data) {
                var output = templates.valuesTable({
                    value: data.results, 
                    links: data.links
                });
                $("#valuesTableOutput").html(output);
            };

            var refreshValues = function() {
                valueServer.getValues().done(showValues);
            };

            var goToPage = function() {
                var url = $(this).attr('data-url');
                valueServer.getValuesFromUrl(url).done(showValues);
            };

            var registerClicks = function() {
                $(document).on("click", ".navigation-link", goToPage);
            };

            $(function () {
                registerClicks();
                compileTemplates();
                refreshValues();
            });
        }());
    </script>

}
