@{
    ViewBag.Title = "Values";
}

<h2>Values</h2>

<div id="valuesTableOutput"></div>
<hr/>
<div>NOTE: may need a hard refresh from the browser so see the updated values. This is due to the caching library in use.</div>
<div id="valueEditOutput"></div>

<script id="valuesTableTemplate" type="text/html">
    <table>
        <thead>
            <th>Id</th>
            <th>Value</th>
            <th>Last modified</th>
        </thead>
        <tbody>
            {{#each value}}
            <tr data-id={{id}}>
                <td>{{id}}</td>
                <td>{{value}}</td>
                <td>{{lastModified}}</td>
                <td>
                    <button class="edit-value">Edit</button>
                    <button class="delete-value">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{#each links}}
    <a class="navigation-link" href="javascript:void(0);" data-url="{{href}}" id="{{rel}}">{{rel}}</a>
    {{/each}}
</script>

<script id="valueEditTemplate" type="text/html">
    <hr />
    <h3>Editing value id: {{id}}</h3>
    <form>
        <input type="hidden" name="id" id="id" value="{{id}}" />
        <label for="value">Value: </label>
        <input type="text" name="value" id="value" required value="{{value}}" />
        <input type="submit" id="save-value" value="Save" />
    </form>
</script>

@section scripts
{
    <script src="~/Scripts/handlebars.js"></script>

    <script>
        var valueServer = (function() {
            var valueApiUrl = '@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "values"})';

            $(document).ajaxError(function (event, xhr) {
                alert(xhr.status + ":" + xhr.statusText);
            });

            var getValue = function (id) {
                return $.get(valueApiUrl + "/" + id);
            };

            var getValues = function (page) {
                page = page || 0;
                return $.get(valueApiUrl +"?page="+page);
            };

            var getValuesFromUrl = function(url) {
                return $.get(url);
            };

            var updateValue = function (value) {
                return $.ajax(valueApiUrl + "/" + value.id, {
                    type: "PUT",
                    data: value
                });
            };

            var deleteValue = function (id) {
                return $.ajax(valueApiUrl + "/" + id, {
                    type: "DELETE"
                });
            };

            return {
                getValue: getValue,
                getValues: getValues,
                getValuesFromUrl: getValuesFromUrl,
                updateValue: updateValue,
                deleteValue: deleteValue
            };
        }());

        (function() {
            var templates = { };

            var compileTemplates = function() {
                templates.valuesTable = Handlebars.compile($("#valuesTableTemplate").html());
                templates.valueEdit = Handlebars.compile($("#valueEditTemplate").html());
            };

            var showValues = function(data) {
                var output = templates.valuesTable({
                    value: data.results, 
                    links: data.links,
                    page: data.page
                });
                $("#valuesTableOutput").html(output);
            };

            var refreshValues = function() {
                valueServer.getValues().done(showValues);
            };

            var goToPage = function() {
                var url = $(this).attr('data-url');
                valueServer.getValuesFromUrl(url).done(showValues);
            };

            var editValue = function () {
                var id = getValueId(this);
                valueServer.getValue(id).done(showValueToEdit);
            };

            var getValueId = function (element) {
                return $(element).parents("tr").attr("data-id");
            };

            var showValueToEdit = function(valueToEdit) {
                var output = templates.valueEdit(valueToEdit);
                $("#valueEditOutput").html(output);
            };

            var saveValue = function () {
                var valueToSave = {
                    "id": $("#id").val(),
                    "value": $("#value").val()
                };
                valueServer.updateValue(valueToSave).done(refreshValues, clearEdit);
                return false;
            };

            var deleteValue = function () {
                var id = getValueId(this);
                if (confirm("Are you sure you want to delete value " + id + "?")) {
                    valueServer.deleteValue(id).done(refreshValues);
                }
            };

            var clearEdit = function() {
                $("#valueEditOutput").empty();
            };

            var registerClicks = function() {
                $(document).on("click", ".navigation-link", goToPage);
                $(document).on("click", ".edit-value", editValue);
                $(document).on("click", ".delete-value", deleteValue);
                $(document).on("click", "#save-value", saveValue);
            };

            $(function () {
                registerClicks();
                compileTemplates();
                refreshValues();
            });
        }());
    </script>

}
